.footer {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid rgb(206, 206, 206);
    font-weight: 500;
    color: black;
}

.logo {
    color: black;
    font-size: 32px;
    font-weight: 500;
}

.container {
    max-width: 60vw;
    text-align: left;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container p {
    color: gray;
    font-weight: 100;
}